:root {
    --color-bg-card: rgba(45, 88, 153, 0.495);
    --color-accent:rgba(45, 88, 153, 1);
    --color-text:rgb(255, 255, 255);

  }
*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
    font-size: 12pt;
}
h1, label{
    color: var(--color-text);
}
#wordForm>label{
    margin-bottom: 10px;
    display: block;
}
button{
    font-size: 12pt;
    padding: 10px;
    border-radius: 10px;
    color: var(--color-text);
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-accent);
}
.myforms{
    padding: 5%;
    background-color: var(--color-bg-card);

}
input[type="text"] {
    font-size: large;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}
/* Hover effect */
input[type="text"]:hover {
    border-color: var(--color-bg-card);
}

/* Focus effect */
input[type="text"]:focus {
    outline: none;
    border-color: var(--color-accent);
    box-shadow: 0 0 5px var(--color-bg-card);
}
.wrapper{
    padding: 20px;
    display: grid;
}

.repositionable {
	position: absolute;
}
.card{
    font-size: 18pt;
    padding: 10px;
    text-align: center;
    color: var(--color-text);
	border-width: 1px;
	border-radius: 20px;
	background-color: var(--color-bg-card);
    min-width: 80px;
    min-height: 40px;
    vertical-align: middle;
    user-select: none; 
}

header {
	background-color: #edfdfd;
	border-radius: 8px 8px 0 0;
	padding: 0.5rem 0.5rem 0.2rem 0.5rem;
	text-align: right;
}


.dotted {
    height: 100%;
    --dot-bg: rgb(250, 250, 250);
    --dot-color: rgb(155, 155, 155);
    --dot-size: 1px;
    --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }

/*ui form stuff*/
#uiform{
    border-radius:20px 0 0 20px;
    position:fixed;
    top: 10px;
    right: 0;
    width: 200px;
    height: 300px;
    padding: 20px;
    border: solid 1px black;
}
#uiform>label{
    color: black;
}
input[type="color"]{
    appearance: none; /* Reset default styles */
    -webkit-appearance: none; /* For older versions of Safari and Chrome */  
    padding: 0;
    border: none;
    background-color: #ffffff00;
    height: 30px;
    width: 50px;
}